* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* ===============Header section started=============== */

header {
    background-image: url(../images/Banner\ Image.png);
    width: 1200px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    margin: 30px auto;
    align-items: center;
    font-family: 'Merriweather', serif;
}

.banner-bg {
    width: 630px;
    text-align: center;
    margin: auto;
}

.banner-bg h3 {
    font-size: 32px;
    font-weight: 400;
    padding-top: 150px;
}

.banner-bg h1 {
    font-size: 72px;
    font-weight: 900;
}

/* ===============Header section ended=============== */

/* ===============Main section started=============== */
main {
    width: 1200px;
    margin: auto;
}

/* ===============Discount-Top section started=============== */
.discount-top {
    font-family: 'Inter', sans-serif;
    width: 800px;
    margin: 100px auto;
}

.discount-container h1 {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    padding: 30px 0;
}

.discount-container h4 {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.discount-container h3 {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    padding: 20px 0;
}

.discount-container img {
    width: 100%;
}

/* ===============Discount-Top section ended=============== */

/* ===============Welcome section Started=============== */
.welcome-sec {
    background-image: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
    font-family: 'Merriweather', serif;
}

.welcome-container {
    display: flex;
    align-items: center;
}

.welcome-left {
    width: 55%;
    padding: 0 50px 0 100px;
}

.welcome-left h1 {
    font-size: 64px;
    font-weight: 900;
    color: white;
}

.welcome-left p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
    font-weight: 400;
    padding: 40px 0;
}

.welcome-btn {
    background: none;
    border: 0;
}

.welcome-btn a {
    text-decoration: none;
    color: #FFF;
    padding: 0 20px;
}

.welcome-right {
    width: 45%;
    height: 100%;
    margin-top: 50px;
}

/* ===============Welcome section Ended=============== */

/* ===============Offer section Started=============== */
.offer-sec {
    margin: 100px 0 100px 0;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
}

/* ============Event-Details Section============= */
.event-details {
    background: #fffcf7;
    color: #070211;
    font-family: Inter;
    font-size: 28px;
    text-align: center;
    padding: 50px 0;
}

.event-details h3 {
    padding: 5px 0;
}

.red-text {
    color: #F00;
}

.event-btn {
    background: none;
    border: 0;
    margin-top: 50px;
}

.event-btn a {
    text-decoration: none;
    color: #FFF;
    padding: 10px 20px;
    background-color: #F00;
    font-size: 16px;
    border-radius: 5px;
}

/* ============Best Offer Section=========== */
.best-offer {
    display: flex;
    align-items: center;
    margin: 50px 0;
}

.best-offer-left {
    width: 35%;
}

.best-offer-left h3 {
    font-size: 24px;
    font-weight: 500;
}

.best-offer-left h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

.p-text {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    padding: 15px 0;
}

.best-offer-mid {
    width: 30%;
    border: 10px solid #F00;
    border-radius: 50%;
    padding: 10px 20px 10px 15px;
    margin: 0 25px;
}

.best-offer-mid img {
    width: 100%;
    padding: 5px;
}

.best-offer-right {
    width: 35%;
}

.best-offer-right h2 {
    font-size: 48px;
    font-weight: 700;
    margin-top: 50px;
}

/* ===============Discount-Bottom section=============== */
.discount-bottom {
    width: 100%;
}

.discount-bottom-text {
    text-align: center;
}

.discount-bottom-text h3 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.discount-bottom-text h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 900;
    padding: 20px 0;
}

.discount-bottom-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    padding: 0 150px;
}

.discount-bottom-images {
    margin-top: 50px;
}

.top-img {
    display: flex;
    gap: 150px;
    position: absolute;
}

.img-1 {
    width: 650px;
}

.img-1 img {
    width: 100%;
}

.img-2 {
    width: 400px;
}

.img-2 img {
    width: 100%;
}

.img-3 {
    position: relative;
    left: 650px;
    top: 40px;
}

.img-4 {
    width: inherit;
    margin-top: 93px;
}

.img-4 img {
    width: 100%;
}

/* ===============Offer section Ended=============== */

/* ===============Best Gift section Started=============== */
.gift-text h4 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.gift-text h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    padding: 10px 0;
}

.gift-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.gift-images {
    display: flex;
    justify-content: space-between;
}

.blog-img {
    width: 385px;
    margin: 20px 0;
    transition: all linear 0.5s;
}

.blog-img:hover {
    border: 2px solid red;
    border-radius: 5px;
    margin-top: 0px;
}

.blog-img img {
    width: 100%;
}

/* ===============Best Gift section Ended=============== */

/* ===============Newsletter section Started=============== */
.newsletter {
    border-radius: 15px;
    background: rgba(255, 0, 0, 0.05);
    margin: 100px 0;
}

.newsletter-container {
    text-align: center;
    padding: 50px 0;
}

.newsletter-container h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding: 20px 0;
}

.newsletter p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding: 0 80px;
}

.form-sec {
    margin-top: 40px;
}

input {
    border: none;
}

#email {
    padding: 10px 50px;
    border-radius: 20px 0 0 20px;
}

#submit {
    background: #FF0000;
    color: white;
    padding: 10px 30px;
    border-radius: 0 20px 20px 0;
}

/* ===============Newsletter section Ended=============== */

/* ===============Main section ended=============== */

/* ===============Footer section Started=============== */
footer {
    background: #070211;
    color: white;
}

.contact-details {
    width: 800px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin: auto;
}

.address p,
.phone-email p,
.footer-bottom p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 0;
}

.phone-email a,
.unsubscribe a {
    text-decoration: none;
    color: white;
}

.fa-solid {
    padding: 0 10px;
}

hr {
    width: 850px;
    background: rgba(255, 255, 255, 0.15);
    margin: 30px auto;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.social-media-icons a {
    text-decoration: none;
}

.social-media-icons img {
    width: 40px;
    height: 40px;
}

.footer-bottom {
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 50px;
}

.unsubscribe {
    border: none;
    background: none;
}

/* ===============Footer section Ended=============== */